@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

.burger {
  height: 20px;
  width: 30px;
  position: relative;
}

.burger-line {
  display: flex;
  height: 2px;
  width: 30px;
  background: #d70026;
  transition: 0.3s all ease;
}

.top-line {
  position: absolute;
  top: 0;
  left: 0;
}

.mid-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.burger.active > .top-line {
  transform: translateY(8px) rotate(45deg);
}

.burger.active > .mid-line {
  opacity: 0;
}

.burger.active > .bottom-line {
  transform: translateY(-10px) rotate(-45deg);
}
